$color-bg: white;

.hidden {
	display: none;
	@media (min-width: 768px) {
		display: flex;
		
	}
}

.moveleft {
	margin-left: -50px;
	margin-right: 50px;
	transition: 0.5s;
}

.moveright {
	margin-right: -50px;
	margin-left: 50px;
	transition: 0.5s;
}